<div class="page-header">
  <h1>Metrics <small></small></h1>
</div>
<form role="form">
	<div class="form-group">
<label for="selectSprint">Pick A Board</label>
</p>
<select class="form-control input-lg" id="selectBoard">
<% _.each(boards.views, function (board) { %>
	<% if (board.sprintSupportEnabled == true) { %>
    <option value="<%= board.id %>"><%= board.name %></option>
    <% } %>
<% }) %>
</select>
</div>
<button type="button" id="submitButton" class="btn btn-lg btn-primary pull-right">Submit</button>
</form>
<script>
    $("#submitButton").click(function(){
        var boardid = $("#selectBoard").val();
        var url = "/report/board/" + boardid;
        document.location.href = url;
    });
</script>